@import '~src/scss/variables';
.layout-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  .sidenav-container {
    flex: 1;
    background: $main-background-color;
    .sidenav {
      padding: 12px 0;
      width: 250px;
      background-color: #263238;
      color: #fff;
      box-shadow: none;      
    }
    
    .main-container {
      padding: 16px;
    }
  }
}


