.no-margin{
    margin: 0;
}

.card-detail{
    figure{
        max-width: 300px;
        width: 100%;
    }
    .thumbnail{
        margin-top: 10px;
        img{
            margin-right: 10px;
            &:last-child{
                margin-right: 0;
            }
        }
    }
    article{
        margin-left: 20px;
        h1{
            margin-top: 0;
        }
        .price{
            .mrp{
                margin-right: 20px;
            }
            .sale-price{
                color: #003b76;
                font-size: 30px;
            }
        }
        .text-linethrough{
            text-decoration: line-through;
        }
    }
}

.similar-product-card{
    box-shadow: none;
    .mat-card{
        box-shadow: none;
        border: 1px solid #dedede;
        .mat-card-title{
            h3{
                margin: 0;
                font-size: 14px;
            }
        }
    }
}