<mat-nav-list>
  <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/dashboard']">
    <mat-icon class="sidenav-icon">dashboard</mat-icon>Dashboard
  </a>
  <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/product']">
    <mat-icon class="sidenav-icon">eco</mat-icon>Product
  </a>
</mat-nav-list>