.image-container{
    position: relative;
    a{
        position: absolute;
        top: -10px;
        right: 10px;
        cursor: pointer;
        background-color: #fff;
        border-radius: 100%;
        width: 24px;
        height: 24px;
        span{
            color: red;
        }
    }
}