<app-alert></app-alert>
<div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="space-around stretch">
    <mat-card fxFlex.gt-xs="100" class="mb15">
        <mat-card-header>
            <mat-card-title *ngIf="!productID">Add Product</mat-card-title>
            <mat-card-title *ngIf="productID">Update Product</mat-card-title>
        </mat-card-header>
        <mat-card-content class="w-100">
            <form class="example-form" [formGroup]="productForm" (ngSubmit)="addProduct(productForm.value)">
                <div>
                    <mat-form-field class="w-100">
                        <input formControlName="title" matInput placeholder="Product title" value="" required>
                    </mat-form-field>
                </div>
                <mat-grid-list cols="2" gutterSize="20px" rowHeight="60px">
                    <mat-grid-tile>
                        <mat-form-field class="w-100">
                            <input type="number" formControlName="price" matInput placeholder="MRP" value="" required>
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-form-field class="w-100">
                            <input type="number" formControlName="quantity" matInput placeholder="Quantity" value=""
                                required>
                        </mat-form-field>
                    </mat-grid-tile>
                </mat-grid-list>
                <div>
                    <mat-form-field class="w-100">
                        <textarea formControlName="shortDescription" matInput
                            placeholder="Short Description"></textarea>
                    </mat-form-field>
                </div>
                <div class="mt-10">
                    <ck-editor name="editor1" formControlName="description" skin="moono-lisa" language="en" [fullPage]="true"></ck-editor>
                </div>
                <div class="text-right mt-10">
                    <button mat-stroked-button type="button" (click)="goToPrevious()"><span>Back</span></button> &nbsp;
                    <button mat-raised-button color="primary" type="submit" [class.spinner]="processRequest"
                        [disabled]="!productForm.valid || processRequest"><span>{{productID ? 'Update' : 'Add'}}
                            Product</span></button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>