<ol class="breadcrumb">
  <li>
    <a routerLink="/dashboard"><mat-icon class="sidenav-icon">home</mat-icon> Home</a>
  </li>
    <li *ngFor="let breadcrumb of breadcrumbs">
      <a [routerLink]="breadcrumb.url" routerLinkActive="router-link-active">
        {{ breadcrumb.label }}
      </a>
    </li>
  </ol>