@import '~src/scss/variables';

.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  .content {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    .app-name {
      margin-top: 0px;
      padding-bottom: 10px;
      font-size: 32px;
    }
    .login-form {
      padding: 40px;
      background: $white;
      max-width: 500px;
      box-shadow: 0 0 3px #ddd;
      input:-webkit-autofill {
        box-shadow: 0 0 0 30px $white inset;
        -webkit-box-shadow: 0 0 0 30px $white inset;
      }
    }
  }
  &:after {
    content: '';
    background: $white;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 50%;
    right: 0;
  }
  &:before {
    content: '';
    background: $primary-color;
    position: absolute;
    top: 50%;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

