<div class="login-page">
  <div class="content px20">
    <form *ngIf="isLogin" class="login-form" [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
      <div class="text-center">
        <h2 class="app-name"><img src="assets/images/logo.png" alt=""></h2>
      </div>
      <div fxLayout="row">
        <div fxFlexFill>
          <mat-form-field class="w-100">
            <input matInput formControlName="email" name="email" placeholder="Email">
          </mat-form-field>
          <mat-form-field class="w-100">
            <input matInput formControlName="password" name="password" type="password" placeholder="Password">
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between" fxLayout.xs="column" class="mt20 mb20">
        <mat-checkbox color="primary" [ngStyle.xs]="{'margin-bottom.px': 10}">Remember Me</mat-checkbox>
        <a href="javascript:void(0)">Forgot Password</a>
      </div>
      <div fxLayout="row">
        <div fxFlexFill>
          <button type="submit" mat-raised-button color="primary" class="w-100">Login</button>
          <button type="button" mat-button color="primary" class="w-100" (click)="isLogin = false">Sign Up</button>
        </div>
      </div>
    </form>
    <form *ngIf="!isLogin" class="login-form" [formGroup]="signupForm" (ngSubmit)="onSignup(signupForm.value)">
      <div class="text-center">
        <h2 class="app-name"><img src="assets/images/logo.png" alt=""></h2>
      </div>
      <div fxLayout="row">
        <div fxFlexFill>
          <mat-form-field class="w-100">
            <input matInput formControlName="firstName" name="firstName" placeholder="First Name">
          </mat-form-field>
          <mat-form-field class="w-100">
            <input matInput formControlName="lastName" name="lastName" placeholder="Last Name">
          </mat-form-field>
          <mat-form-field class="w-100">
            <input matInput formControlName="email" name="email" placeholder="Email">
          </mat-form-field>
          <mat-form-field class="w-100">
            <input matInput formControlName="password" name="password" type="password" placeholder="Password">
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row">
        <div fxFlexFill>
          <button type="submit" mat-raised-button color="primary" class="w-100">Sign Up</button>
          <button type="button" mat-button color="primary" class="w-100" (click)="isLogin = true">Login</button>
        </div>
      </div>
    </form>
  </div>
</div>
